.brd_det {
  /*Position*/
  padding-top: 100px;
  padding-bottom: 100px;

  /*Dimensions*/
  margin: auto;
}

.titre_det {
  /*Texte*/
  font-size: 2.5em;
  font-weight: bold;
  color: var(--white);
  text-shadow: 2px 2px 2px var(--clr1);
  padding: 10px;
  font-family: Source Code Pro;
}

.pqt_gif {
  /*Flex*/
  flex-wrap: wrap;
}

.desc {
  /*Style*/
  color: var(--white);
  font-family: Source Code Pro;
  font-size: 1.3em;
}
