.case_gif {
  /*Position*/
  margin: 20px;
}

.titre_gif {
  /*Dimensions*/
  width: 100%;
  height: 40px;
  margin: 10px;

  /*Texte*/
  font-family: Source Code Pro;
  font-weight: bold;
  color: var(--white);
  text-shadow: 2px 2px 2px var(--clr1);
}

.ctn_gif {
  /*Style*/
  border-radius: 20px;

  /*Autre*/
  overflow: hidden;
}

.gif {
  /*Position*/
  position: relative;
}
