#go0 {
  /*Position*/
  position: fixed;
  right: 100px;
  bottom: 100px;
  z-index: 1;

  /*Dimensions*/
  height: 70px;
  width: 70px;

  /*Style*/
  color: var(--clr1);
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem black);

  /*Autre*/
  transition: 0.5s;
}

.blck_arr {
  /*Position*/
  position: absolute;

  /*Dimensions*/
  height: 100%;
  width: 100%;

  /*Style*/
  background-color: black;
  border-radius: 50%;
}

#go0:hover {
  /*Style*/
  color: var(--clr1b);
}
